/* Whole sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.25;
  background-color: #2f3135;
  height: 100vh;
}

.sidebar__top {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 3px solid rgb(60, 56, 56);
}

/* Channel Part */
.sidebar__channels {
  flex: 1;
}

.sidebar__channelsHeader {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #2f3135;
  color: gray;
  align-items: center;
}

.sidebar__header {
  display: flex;
  align-items: center;
}

.sidebar__addChannel:hover {
  color: white;
  cursor: pointer;
}

/* Voice Part */
.sidebar__voice,
.sidebar__profile {
  display: flex;
  border-top: 3px solid rgb(60, 56, 56);
  justify-content: space-between;
  align-items: center;
  background-color: #2f3135;
  padding: 10px;
  color: gray;
}

.sidebar__voiceIcon {
  color: rgb(48, 170, 48);
}

.sidebar__voiceInfo {
  color: rgb(48, 170, 48);
  align-items: center;
  flex: 1;
  padding: 10px;
}
.sidebar__voiceInfo > p {
  font-size: smaller;
}

.sidebar__voiceIcons > .MuiSvgIcon-root {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

/* Profile Part */

.sidebar__profileInfo {
  flex: 1;
  padding: 10px;
}
.sidebar__profileInfo > h3 {
  color: white;
}

.sidebar__profileIcons {
  display: flex;
  flex-direction: column;
}
